---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

.page {
  width: 100%;
  padding-right: unset;
}

div.footnotes p {
  margin: unset;
}
